.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #495057 !important;
}

.navbar-brand {
    width: 20%;
}

.navbar-brand img {
    width: 100%;
    min-width: 200px;
}



.posters{
    display: flex;
    flex-direction: row;
    padding: 20px 50px 20px 50px;
    justify-content: space-between;
    flex-wrap: wrap;

}

.img-poster{
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
}

li{
    list-style-type: none; 
}

.posters li:hover{
    zoom: 1;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    transform: rotate(1deg);
    transition-delay: 30ms;
}

.posters li:hover .img-poster{
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.posters a {
    position: relative;
    
}

.filmName {
    position: absolute;
    width: 200px;
    height: 300px; 
    top: -150px;
    display: none;
    padding: 10px;
}

.posters li:hover .filmName {
    display: block;
}

.filmName p {
    color: white; 
    padding-top: 120px;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-color: #495057;
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 20px;
}

footer .card-title {
    color: white;
}

footer p {
    color: white;
}

.autresfilms{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

section{
    margin: 20px 50px 20px 50px;
    color: white;
}

h1{
    margin: 20px 50px 20px 50px;
    color: white;
}

body {
    background-color: #272727;
}

.details-movie{
    display: flex;
    flex-direction: row;
    margin: 20px 50px 20px 50px;
    width: 50%;
    color: white;
}

.details-movie img{
    margin-right: 20px;
}

.details{
    flex-direction: column;
}

.detail{
    margin: 10px 20px 10px 20px;
}

.realisateur-note{
    flex-direction: row;
    display: flex;
}

.genre{
    position : absolute;
    right: 50px;
    top: 90px;
}

.drama{
    background-color: #FF2828;
    border: none;
}

.drama:hover{
    background-color: #FF4E4E;
    border: none;
}